---
import { Image } from "astro:assets";
type Props = {
  items: {
    company: string;
    title: string;
    description: string;
    period: string;
    logo: string;
  }[];
};
const { items }: Props = Astro.props;
---

<div class="grid grid-cols-1 gap-12 md:grid-cols-2">
  {
    items.map((item) => {
      return (
        <div>
          <div>
            {/* <Image
                src={item.logo}
                alt={item.company}
                height={32}
                width={32}
              /> */}
          </div>
          <div class="text-sm text-sky-600">{item.period}</div>
          <div class="text-lg font-bold">{item.title}</div>
          <div class="mt-4 leading-relaxed text-gray-600">
            {item.description}
          </div>
        </div>
      );
    })
  }
</div>
