---
import { Icon } from "astro-icon/components";
import { cn } from "../utils/utils";
import { Button } from "./ui/button";
import { ButtonLink } from "./button-link";
type Props = {
  navItems: {
    label: string;
    href: string;
  }[];
};
const { navItems = [] }: Props = Astro.props;
const currentPath = Astro.url.pathname.slice(1);

function isCurrent(href: string) {
  return currentPath === ""
    ? href === "/"
    : href.slice(1).startsWith(currentPath);
}
---

<header
  id="siteHeader"
  data-menu-open={false}
  class="group z-10 border-b bg-white shadow data-[menu-open=true]:fixed data-[menu-open=true]:inset-0 data-[menu-open=true]:z-50 data-[menu-open=true]:overflow-hidden"
>
  <div class="container py-2">
    <nav class="flex h-14 items-center justify-between">
      <div>
        <a href="/" class="text-xl font-bold uppercase">Niwux</a>
      </div>

      <div class="mt-2 hidden gap-4 md:flex">
        {
          navItems.map((item) => {
            return (
              <a
                href={item.href}
                class={cn("group/link inline-flex flex-col items-center gap-1")}
                aria-current={isCurrent(item.href) ? "page" : undefined}
              >
                <span>{item.label}</span>
                <span
                  role="presentation"
                  class={cn(
                    "block h-0.5 bg-slate-600 transition-all group-hover/link:w-5",
                    isCurrent(item.href) ? "w-5" : "w-0",
                  )}
                />
              </a>
            );
          })
        }
      </div>
      <div class="flex items-center gap-2">
        <ButtonLink href="/contact">Even sparren?</ButtonLink>

        <Button id="menuButton">
          <Icon
            name="mdi:close"
            size={24}
            class="hidden group-data-[menu-open=true]:block"
          />
          <Icon
            name="mdi:menu"
            size={24}
            class="group-data-[menu-open=true]:hidden"
          />
        </Button>
      </div>
    </nav>
  </div>

  <div class="hidden py-4 group-data-[menu-open=true]:block">
    <div class="container">
      <div class="mt-10 flex flex-col items-center gap-4">
        {
          navItems.map((item) => (
            <a
              href={item.href}
              class={cn(
                "group/link inline-flex flex-col items-center gap-1 text-xl",
              )}
              aria-current={isCurrent(item.href) ? "page" : undefined}
            >
              <span>{item.label}</span>
              <span
                role="presentation"
                class={cn(
                  "block h-0.5 bg-slate-600 transition-all group-hover/link:w-5",
                  isCurrent(item.href) ? "w-5" : "w-0",
                )}
              />
            </a>
          ))
        }
      </div>
    </div>
  </div>
</header>
<script>
  const header = document.getElementById("siteHeader")!;
  const button = document.getElementById("menuButton")!;

  button.addEventListener("click", () => {
    const isOpen = header.dataset.menuOpen === "true";
    header.dataset.menuOpen = (!isOpen).toString();
  });
</script>
